* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    border: none;
    outline: none;
  }
  body {
    background-color: #9873fe;
    background-image: url('https://cdn.corporatefinanceinstitute.com/assets/philippine-peso-php-1024x680.jpeg');
    background-image: linear-gradient(to bottom , rgb(76, 22, 226,0.1), rgb(40, 33, 180,0.4)), url('https://cdn.corporatefinanceinstitute.com/assets/philippine-peso-php-1024x680.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
  }
  .wrapper { 
    
    outline-style: solid;
    outline-color: #2e3a6c;
    outline-width: 3px;
    
    width: 90%;
    max-width: 25em;
    
    background-color: #e6e4ef;
    background-image: linear-gradient(to bottom right, #e6e4ef, #7a789d);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2em;
    border-radius: 0.8em;
  }
  .app-details {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .app-icon {
    width: 9.37em;
  }
  .app-title {
    font-size: 1.7em;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  label {
    display: block;
    font-weight: 600;
  }
  input#amount {
    font-weight: 400;
    font-size: 1.2em;
    display: block;
    width: 100%;
    border-bottom: 2px solid #02002c;
    color: #7a789d;
    margin-bottom: 2em;
    padding: 0.5em;
  }
  input#amount:focus {
    color: #19a9da;
    border-color: #19a9da;
  }
  .dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }
  select {
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    border-radius: 0.2em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow-down.svg");
    background-repeat: no-repeat;
    background-position: right 15px top 50%, center;
    background-size: 20px 20px;
    background-color: #2e3a6c;
    color: #ffffff;
  }
  select option {
    background-color: #ffffff;
    color: #02002c;
  }  
  
  button {
    font-size: 1em;
    width: 100%;
    background-color: #2e3a6c;
    padding: 1em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    color: #ffffff;
    font-weight: 600;
  } 
  button:hover {
  background-color: rgb(5, 35, 71);
}
button:active {
  background-color: rgb(5, 35, 71);
}
  #result {
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    color: #02002c;
    background-color: #e5dbff;
    padding: 0.8em 0;
  }